doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title notify
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    
    link(href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css')
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/normalize.css/normalize.css')
    // endbower
    // endbuild

    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header.hero#top
      .section__inner
        h1.hero__title Notify
        h2.hero__body A great new free psd theme to showcase  your new application. 
        .nav
          ul.nav__inner
            - for(var i = 0; i < 3; i++)
              li.nav__item
                a(href="#")
                  img(src="images/hero__icon-#{i+1}.png")
        a(href="#").btn.btn--hero Download
          svg(class="svg-icon" viewBox="0 0 20 20")
            path(fill="none" d="M14.989,9.491L6.071,0.537C5.78,0.246,5.308,0.244,5.017,0.535c-0.294,0.29-0.294,0.763-0.003,1.054 l8.394,8.428L5.014,18.41c-0.291,0.291-0.291,0.763,0,1.054c0.146,0.146,0.335,0.218,0.527,0.218c0.19,0,0.382-0.073,0.527-0.218 l8.918-8.919C15.277,10.254,15.277,9.784,14.989,9.491z")

    section.section#feature
      .section__inner
        - each t, i in ['Editable Theme', 'Flat Design', 'Reach Your Audience']
          .item
            img.item__img(src="images/item__img-#{i+1}.png")
            h1.section__title #{t}
            p.item__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
            a(href="#").btn.btn--rotate Read More
    
    section.section.section--odd#notify
      .section__inner
        .section__left
          h1.section__title.u-tal Get Notified Of Any Updates!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
          form.form
            input.form__input(type="text" placeholder="Email Address")
            input.form__btn(type="submit" value="Notify")
        .section__right
          img.video(src="images/video.jpg")

    section.section.section--big.testimonial#testimonial
      .section__inner
        p.section__body--em Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.
        h2.section__title.section__title--secondary Jane Hunt
        img.testimonial__img(src="images/faces.jpg")
        h1.section__title.section__title--big Say Hi & Get in Touch
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. 
        .testimonial__nav.nav
          ul.nav__inner
            - for(var i = 0; i < 6; i++)
              li.nav__item
                a(href="#")
                  img(src="images/sns-icon-#{i+1}.png")

    footer.section--footer.section--odd#footer
      .section__inner
        nav.nav.nav--center
          ul.nav__inner
            - each l in ['Contact', 'Download', 'Press', 'Email', 'Support', 'Privacy Policy']
              li.nav__item
                a(href="#") #{l}

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    script(src='scripts/script.js')
